@font-face {
	font-family: 'TAEBAEKmilkyway';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'TAEBAEKmilkyway';
	background-image: url("/img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	transition-duration: 3s;
	z-index: 0;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

h1 {
	text-align: center;
	margin-top: 0;
	font-size: 80px;
	color: rgb(0, 0, 0, 0);
	-webkit-text-stroke: 3px rgb(255, 255, 255);
}

.box1 {
	position: absolute;
	top: 20px;
	right: 76%;
	min-height: 400px;
	width: 380px;
	background: rgb(0, 0, 0, 0);
	overflow: hidden;
	border: solid;
	border-width: thin;
	border-color: rgb(255, 255, 255);
}

.box2 {
	position: absolute;
	top: 20px;
	left: 76%;
	min-height: 400px;
	width: 380px;
	background: rgb(0, 0, 0, 0);
	overflow: hidden;
	border: solid;
	border-width: thin;
	border-color: rgb(255, 255, 255);
}

.box3 {
	position: absolute;
	top: 450px;
	right: 76%;
	min-height: 400px;
	width: 380px;
	background: rgb(0, 0, 0, 0);
	border: solid;
	border-width: thin;
	border-color: rgb(255, 255, 255);
	overflow: hidden;
}

.box4 {
	position: absolute;
	top: 450px;
	left: 76%;
	min-height: 400px;
	width: 380px;
	background: rgb(0, 0, 0, 0);
	overflow: hidden;
	border: solid;
	border-width: thin;
	border-color: rgb(255, 255, 255);
}

.box5 {
	position: absolute;
	top: 250px;
	left: 27%;
	height: 600px;
	width: 800px;
	background: rgb(0, 0, 0, 0);
	overflow: hidden;
	border: solid;
	border-width: thin;
	border-color: rgb(255, 255, 255);
}

nav1 {
	position: absolute;
	top: 150px;
	right: 60%;
	width: 200px;
	background: rgba(0, 0, 0, 0);
	border: solid;
	border-width: thin;
	border-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
}

input {
	position: relative;
	height: 30px;
	font-size: 0.3em;
}

#cul_h1 {
	height: 600px;
	width: 800px;
	overflow: hidden;
	background-image: url("/img/1호선.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#cul_h2 {
	height: 600px;
	width: 800px;
	overflow: hidden;
	background-image: url("/img/2호선.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#cul_h3 {
	height: 600px;
	width: 800px;
	overflow: hidden;
	background-image: url("/img/3호선.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#cul_h4 {
	height: 600px;
	width: 800px;
	overflow: hidden;
	background-image: url("/img/4호선.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#cul_h5 {
	height: 600px;
	width: 800px;
	overflow: hidden;
	background-image: url("/img/5호선.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#cul_h6 {
	height: 600px;
	width: 800px;
	overflow: hidden;
	background-image: url("/img/6호선.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#cul_h7 {
	height: 600px;
	width: 800px;
	overflow: hidden;
	background-image: url("/img/7호선.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#cul_h8 {
	height: 600px;
	width: 800px;
	overflow: hidden;
	background-image: url("/img/8호선.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#cul_h9 {
	height: 600px;
	width: 800px;
	overflow: hidden;
	background-image: url("/img/9호선.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
/*button {
	background: #00028aa6;
	color: #fff;
	border: none;
	position: relative;
	height: 30px;
	font-size: 0.2em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

 button:hover {
	background: rgba(0, 0, 0, 0);
	color: #ffffff;
}

button:before, button:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #00028aa6;
	transition: 400ms ease all;
}

button:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

button:hover:before, button:hover:after {
	width: 100%;
	transition: 800ms ease all;
}
*/